<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmuhamadamirzaidi.sellynapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBJwlXGwdp7zJPS6kCFJrpjZGXYvW1nqzY" />

        <activity android:name=".Modules.Account.EditProfileActivity"></activity>
        <activity android:name=".Modules.Account.ProfileActivity" />
        <activity android:name=".Modules.Account.AccountActivity" />
        <activity android:name=".Modules.Account.SettingActivity" />
        <activity android:name=".Modules.General.ForgetPasswordActivity" />
        <activity android:name=".Modules.Account.OrderStatusActivity" />
        <activity android:name=".Modules.Account.OrderDetailActivity" />
        <activity android:name=".Modules.Checkout.CheckOutActivity" />
        <activity android:name=".Modules.Cart.CartActivity" />
        <activity android:name=".Modules.Product.ProductDetailActivity" />
        <activity android:name=".Modules.Product.ProductListActivity" />
        <activity
            android:name=".Modules.General.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Modules.General.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Modules.General.SignUpActivity" />
        <activity android:name=".Modules.General.SignInActivity" />
    </application>

</manifest>